.App {
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

nav {
  background-color: rgb(238,238,238);
  height: 70px;
}

.home-title {
  margin-left: 10px;
  position: absolute;
  padding: 20px;
  font-size: 1.5rem;
}

nav button {
  border: none;
  font-size: 1.5rem;
}

nav img {
  display: none;
}

.hamburger {
 position: fixed;
 font-size: 1.6rem;
 top: 15px;
 right: 25px;
}

.x-button {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.displaying {
  position: absolute;
}

.hidden {
  display: none;
}

nav a, .nav-options {
  color: black;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
}

.close {
  display: none;
  -webkit-transition: all 0.5s;
}

.open {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: left 300ms ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(238,238,238);
  transition: right 0.5s ease;
  z-index: 10;
}

.open > .nav-options {
  font-size: 1.4rem;
  text-align: right;
  padding: 30px;
  padding-top: 15px;
}

.home-div, .about-div {
  margin: 40px 25px;
}

h4 {
  text-align: center;
  padding-top: 15px;
}

.constit-quote {
  font-style: italic;
  font-size: 0.8rem;
  margin: 10px 25px;
}

.home-div p {
  padding-bottom: 15px;
}

.home-div a {
  float: right;
  transform: translate(-95%);
  font-size: 1rem;
  background-color: rgb(238,238,238);
}

.separator {
  margin-top: 25px;
  margin-bottom: 35px;
  color: rgba(54, 54, 54, 0.705);
  width: 15vw;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .App {
    font-size: 16px;
    margin: 0 auto;
  }
  nav img {
    max-height: 100px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    padding: 3px;
    display: inline-block;
  }
  .home-div, .about-div {
    margin: 70px 40px;
  }
  .constit-quote {
    font-size: 0.9rem;
  }
  .home-div a {
    margin-right: 25%;
    transform: translate(-95%);
    font-size: 1.2rem;
  } 
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .App {
    font-size: 16px;
  }
  /* .mobile-nav {
    display: none;
  } */
  .open {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    transition: left 300ms ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 75%;
    background-color: rgb(238,238,238);
    transition: right 0.5s ease;
    z-index: 10;
  }
  nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(238,238,238);
  }
  nav a, .nav-options {
    display: inline-block;
    z-index: 10;
    padding: 3px 12px;
    font-size: 1.3em;
  }
  .nav-options:hover {
    color: whitesmoke;
    background-color: rgba(54, 54, 54, 0.705);
    transition: all 0.4 ease;
  }
  .about-div, .home-div {
    margin-top: 70px;
  }
}
