.App {
  margin: 0 auto;
  height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

nav {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(238,238,238);
}

/* .mobile-nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: left 300ms ease;
  text-align: right;
  position: fixed;
  top: 0;
  right: -100vw;
  background-color: rgba(255,255,255, 0.8);
  padding: 20px;
} */

nav img {
  max-height: 100px;
  position: absolute;
  top: 5px;
  left: 37%;
  vertical-align: middle;
  padding: 3px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
}
nav a, .nav-options {
  color: black;
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  z-index: 10;
  padding: 3px 12px;
  font-size: 1.3em;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
}

.nav-options:hover {
  color: whitesmoke;
  background-color: rgba(54, 54, 54, 0.705);
  transition: all 0.4 ease;
}

.about-div, .home-div {
  margin: 30px;
  margin-top: 70px;
  text-align: center;
}
.constit-quote {
  font-style: italic;
  font-size: 0.9rem;;
}
.separator {
  margin-top: 25px;
  margin-bottom: 35px;
  color: rgba(54, 54, 54, 0.705);
  width: 15vw;
}

h4 {
  text-align: center;
}